<mat-card class="mat-parent">
    <carousel>
        <div class="carousel-inner" align="center" role="listbox">

            <slide>
                <div class="carousel-item" style="display: block; width: 100%;">
                    <div class="col-md-4">
                        <mat-card class="example-card">
                            <img mat-card-image src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p>Some quick example text to build on the card title and make up the bulk of the card's
                                        content.
                                    </p>
                                    <button mat-raised-button color="primary">Primary</button>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-md-4">
                        <mat-card class="example-card">
                            <img mat-card-image src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p>Some quick example text to build on the card title and make up the bulk of the card's
                                        content.
                                    </p>
                                    <button mat-raised-button color="primary">Primary</button>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-md-4">
                        <mat-card class="example-card">
                            <img mat-card-image src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p>Some quick example text to build on the card title and make up the bulk of the card's
                                        content.
                                    </p>
                                    <button mat-raised-button color="primary">Primary</button>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </slide>

            <slide>
                <div class="carousel-item" style="display: block; width: 100%;">
                    <div class="col-md-4">
                        <mat-card class="example-card">
                            <img mat-card-image src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p>Some quick example text to build on the card title and make up the bulk of the card's
                                        content.
                                    </p>
                                    <button mat-raised-button color="primary">Primary</button>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-md-4">
                        <mat-card class="example-card">
                            <img mat-card-image src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p>Some quick example text to build on the card title and make up the bulk of the card's
                                        content.
                                    </p>
                                    <button mat-raised-button color="primary">Primary</button>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-md-4">
                        <mat-card class="example-card">
                            <img mat-card-image src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p>Some quick example text to build on the card title and make up the bulk of the card's
                                        content.
                                    </p>
                                    <button mat-raised-button color="primary">Primary</button>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </slide>
            <slide>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <mat-card class="example-card">
                            <img mat-card-image src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <div class="card-body">
                                    <h4 class="card-title">Card 2</h4>
                                    <p>Some quick example text to build on the card title and make up the bulk of the card's
                                        content.
                                    </p>
                                    <button mat-raised-button color="primary">Primary</button>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-md-4">
                        <mat-card class="example-card">
                            <img mat-card-image src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <div class="card-body">
                                    <h4 class="card-title">Card 2</h4>
                                    <p>Some quick example text to build on the card title and make up the bulk of the card's
                                        content.
                                    </p>
                                    <button mat-raised-button color="primary">Primary</button>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-md-4">
                        <mat-card class="example-card">
                            <img mat-card-image src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <div class="card-body">
                                    <h4 class="card-title">Card 2</h4>
                                    <p>Some quick example text to build on the card title and make up the bulk of the card's
                                        content.
                                    </p>
                                    <button mat-raised-button color="primary">Primary</button>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </slide>
        </div>
    </carousel>
</mat-card>
<!--/*for mobile and small  devices */-->
<mat-card class="mat-parent-small">
    <carousel>
        <slide>
            <mat-card class="example-card">
                <img mat-card-image src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p>Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <button mat-raised-button color="primary">Primary</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </slide>
        <slide>
            <mat-card class="example-card">
                <img mat-card-image src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p>Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <button mat-raised-button color="primary">Primary</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </slide>
        <slide>
            <mat-card class="example-card">
                <img mat-card-image src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p>Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <button mat-raised-button color="primary">Primary</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </slide>
        <slide>

            <mat-card class="example-card">
                <img mat-card-image src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p>Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <button mat-raised-button color="primary">Primary</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </slide>
        <slide>
            <mat-card class="example-card">
                <img mat-card-image src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p>Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <button mat-raised-button color="primary">Primary</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </slide>
    </carousel>
</mat-card>