.carousal-main{
    position: absolute;
    margin-top: 100px;
}
.example-card {
  max-width: 70%;
  margin-top: 5%;
  margin-bottom: 10%;
  box-shadow: 0 3px 6px rgba(#ACC0E9,.5);
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.card{
  display: inline-block;
  background: #FFF;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  position: relative;
  
}
.carousel-item{
  height: 500px;
  width: 100%;
 position: relative;
  background-color:white; 
  
}
.mat-parent {
  background-color:white; 
  margin-top: 6%;
  width: 80%;
  margin-left: 10%;
  /*background-image: url("/assets/img/bg1.jpg");*/
}
